{% extends 'base.html.twig' %}

{% block title %}Answer index{% endblock %}

{% block body %}
    <h1>Answer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Username</th>
                <th>Votes</th>
                <th>Status</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for answer in answers %}
            <tr>
                <td>{{ answer.id }}</td>
                <td>{{ answer.content }}</td>
                <td>{{ answer.username }}</td>
                <td>{{ answer.votes }}</td>
                <td>{{ answer.status }}</td>
                <td>{{ answer.createdAt ? answer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ answer.updatedAt ? answer.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_answer_dash_board_show', {'id': answer.id}) }}">show</a>
                    <a href="{{ path('app_answer_dash_board_edit', {'id': answer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_answer_dash_board_new') }}">Create new</a>
{% endblock %}
